
.imgDiv0{
  height:50px;
  width: 200px;
}
.imgDiv1{
  height:50px;
  width: 200px;
}
.imgDiv2{
  height:50px;
  width: 200px;
}
.imgDiv3{
  height:50px;
  width: 200px;
}
.imgDiv4{
  height:50px;
  width: 200px;
}


.imgNja0{
  height: 50px;
  width: 200px;
}
.imgNja1{
  height:50px;
  width: 200px;
}
.imgNja2{
  height:50px;
  width: 200px;
}
.imgNja3{
  height:50px;
  width: 200px;
}
.imgNja4{
  height:50px;
  width: 200px;
}





#cats{
  height: 400px;
  width: 200px;
  display: block;
}
